#preheader {
    font-style: italic;
    font-size: 25px;
    text-decoration-line: underline;
}

#headone {
    font-size: 15px;
    font-family: sans-serif;
    font-weight: bold;
}

#noteone {
    text-decoration-line: line-through;
}